<h1 class="title">stack<span class="colored colored--orange">.is</span></h1>

<h2 class="subtitle">That didn't work...</h2>
<p class="text">
    Something went wrong during the authentication process.
    Try again by going back to <a class="link" href="/">the homepage</a>. If this
    issue persists, please file an issue on the 
    <a class="link" href="https://github.com/nikxda/stack.is">Stack.is Github repository.</a>
</p>
<div class="box">
    {{errorMessage}}
</div>