<h1 class="title">stack<span class="colored colored--orange">.is</span></h1>

<h2 class="subtitle">Hold up!</h2>
<p class="text">
    A user with that name already exists. Your short name is linked below:
</p>
<div class="box">
    {{shortLink}}
</div>