<div class="header">
    <h1 class="title">stack<span class="colored colored--orange">.is</span></h1>
    <a role="button" class="button" href="{{oAuthLink}}" id="createLinkButton">Create Stack.is Link</a>
</div>

<h2 class="subtitle">What is it?</h2>
<p class="text">
    This site allows you to shorten your StackOverflow profiles to a
    readable and printable URL, e.g. for resumes, business cards or stickers.
    We hope to support the whole StackExchange network in the near future!
</p>
<h2 class="subtitle">How does it work?</h2>
<p class="text">
    Simple! Just authenticate using your Stack Overflow, Super User, ... account
    via the official StackExchange API, and you will get a short link to your profile, like this one:
    <div class="box">
        https://stack.is/username
    </div>
    Click "Create Stack.is Link" to get started!
</p>