<h1 class="title">stack<span class="colored colored--orange">.is</span></h1>

<h2 class="subtitle">Hooray!</h2>
<p class="text">
    Your link is now ready to be used. Copy it from the box below
    and give it a try!
</p>
<div class="box">
    {{shortLink}}
</div>