<!DOCTYPE html>
<html>
    <head>
        <title>Home | stack.is</title>

        <link rel="stylesheet" href="/css/core.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@3.3.0/dist/themes/light-border.css" />
    </head>
    <body>
        {{{ body }}}

        <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
        <script src="/lib/StackExchange.js"></script>
        <script src="/lib/core.js"></script>
    </body>
</html>